@use 'reset' as *;
@use 'fonts' as *;
@use 'variables' as *;

body {
  background-color: var(--color-dark);
  font-family: var(--font-primary);
  color: var(--text-color-primary);
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}
